$text-color: #555;
$text-color-secondary: #999;
$color-white: white;

$primary-color: #3f51b5;
$secondary-color: #f5f5f5;
$warning-color: #f44336;
$hero-color: #09a5bd;
$hero-dark-color: #0895aa;
$villain-color: #c64840;
$villain-dark-color: #b2413a;
