<mat-card class="card"
          appBattleResult
          [className]="battleResult">
    <mat-spinner *ngIf="isLoading"
                 class="spinner"></mat-spinner>

    <ng-container *ngIf="!isLoading">
        <mat-card-header class="header">
            <mat-card-title class="header-title">{{ name }}</mat-card-title>
            <mat-card-subtitle>{{ description }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image
             class="img"
             [src]="image"
             alt="Photo of a person">

        <mat-divider class="divider"></mat-divider>

        <mat-card-content>
            <div class="property">
                <div class="property__name">Height:</div>
                <div class="property__value">{{ height }}</div>
            </div>

            <div class="property common">
                <div class="property__name">Mass:</div>
                <div class="property__value">{{ mass }}</div>
            </div>

            <div class="property">
                <div class="property__name">Hair color:</div>
                <div class="property__value">{{ hairColor }}</div>
            </div>
            <div class="property">
                <div class="property__name">Skin color:</div>
                <div class="property__value">{{ skinColor }}</div>
            </div>
            <div class="property">
                <div class="property__name">Eye color:</div>
                <div class="property__value">{{ eyeColor }}</div>
            </div>
            <div class="property">
                <div class="property__name">Birth year:</div>
                <div class="property__value">{{ birthYear }}</div>
            </div>
            <div class="property">
                <div class="property__name">Gender:</div>
                <div class="property__value">{{ gender }}</div>
            </div>
        </mat-card-content>
    </ng-container>
</mat-card>