@import 'colors';

.header {
    margin-bottom: 1rem;
}

.item {
    cursor: pointer;

    &.first {
        margin-right: 1rem;
    }

    &.end-game {
        margin-left: auto;
        padding: 0.35rem 0.8rem;
        background-color: $accent-color;
        border-radius: 5px;
    }
}
