<app-card [name]="starship?.name"
          [description]="starship?.description"
          [common]="starship?.crew"
          [isLoading]="isLoading"
          [score]="score"
          [isWinner]="isWinner"
          [isLoser]="isLoser"
          [scoreLimit]="scoreLimit"
          [computerLayout]="computerLayout"
          [class.hero]="!computerLayout"
          [class.villain]="computerLayout">

    <ng-container propertyCommon>
        <span class="common">CREW {{ starship?.crew }}</span>
    </ng-container>

    <ng-container properties>
        <div class="properties">
            <app-card-property class="property"
                               label="Length"
                               [value]="starship?.length"></app-card-property>

            <app-card-property class="property"
                               label="Passangers"
                               [value]="starship?.passengers"></app-card-property>

            <app-card-property class="property"
                               label="Max speed"
                               [value]="starship?.maxAtmospheringSpeed"></app-card-property>

            <app-card-property class="property"
                               label="Hyperdrive rating"
                               [value]="starship?.hyperdriveRating"></app-card-property>

            <app-card-property class="property"
                               label="MGLT"
                               [value]="starship?.mglt"></app-card-property>


            <app-card-property class="property"
                               label="Consumables"
                               [value]="starship?.consumables"></app-card-property>
        </div>
    </ng-container>
</app-card>