@import 'colors';

::ng-deep {
  .card {
    min-height: 512px;
  }

  .hero {
    .card {
      &.winner {
        box-shadow: 0px 0px 25px $hero-dark-color;
      }
    }
  }

  .villain {
    .card {
      &.winner {
        box-shadow: 0px 0px 25px $villain-dark-color;
      }
    }
  }
}

.hero {
  .common {
    color: $hero-color;
  }

  .property {
    background-color: $hero-color;
    border: 1px solid $hero-dark-color;
  }
}

.villain {
  .common {
    color: $villain-color;
  }

  .property {
    background-color: $villain-color;
    border: 1px solid $villain-dark-color;
  }
}

.properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}