<div class="container">
    <div *ngIf="(isPlaying$ | async) === false"
         class="start-game">
        <mat-form-field>
            <mat-label>Enter your name</mat-label>
            <input matInput
                   [formControl]="playerName"
                   maxlength="20">
        </mat-form-field>

        <button mat-flat-button
                class="start-game-button"
                color="primary"
                [disabled]="playerName.invalid"
                (click)="onStartGame()">START GAME</button>

        <button mat-flat-button
                class="start-game-button"
                color="warn"
                [disabled]="playerName.invalid"
                (click)="onStartGame(true)">(ERROR) START GAME</button>
    </div>

    <ng-container *ngIf="(isPlaying$ | async) === true">
        <ng-container *ngIf="(isLoading$ | async) === true">
            <div class="game-loading-text">Game is loading ...</div>
            <div class="game-loading-progress">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </div>
        </ng-container>

        <ng-container *ngIf="(isLoading$ | async) === false">
            <div class="battlefield-header">
                <app-battlefield-header class="player"
                                        [label]="'player'"
                                        [playerName]="playerName.value"
                                        [playerWinCount]="(playerWinCount$ | async) || 0"></app-battlefield-header>

                <app-battlefield-header class="computer"
                                        [label]="'computer'"
                                        [playerWinCount]="(computerWinCount$ | async) || 0"
                                        [reverse]="true"></app-battlefield-header>
            </div>

            <div class="battlefield-game">
                <app-game-card *ngIf="selectedOption === 'people'"
                               [person]="(player$ | async)"
                               [isLoading]="(isCardsReloading$ | async) ?? true"
                               [battleResult]="(playerResult$ | async)"
                               [imagePath]="playerImage"></app-game-card>

                <app-starship-card *ngIf="selectedOption === 'starships'"
                                   [starship]="(playerStarship$ | async)"
                                   [isLoading]="(isCardsReloading$ | async) ?? true"
                                   [battleResult]="(playerResult$ | async)"
                                   [imagePath]="playerImage"></app-starship-card>

                <div>
                    <mat-form-field class="select">
                        <mat-label>People or starships</mat-label>
                        <mat-select [(value)]="selectedOption"
                                    (selectionChange)="gameOptionUpdate()"
                                    [disabled]="(isCardsReloading$ | async) === true">
                            <mat-option *ngFor="let option of gameOptions"
                                        [value]="option">{{ option }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <img mat-card-image
                         class="img"
                         src="assets/img/game/vs.jpg"
                         alt="vs image">

                    <div *ngIf="(isFinalWinner$ | async) === false"
                         class="play">
                        <button mat-flat-button
                                color="primary"
                                class="play-button"
                                (click)="onPlay()"
                                [disabled]="(isCardsReloading$ | async) === true">PLAY</button>
                    </div>

                    <div *ngIf="(isFinalWinner$ | async) === false"
                         class="play">
                        <button mat-flat-button
                                color="warn"
                                class="play-button"
                                (click)="onPlay(true)"
                                [disabled]="(isCardsReloading$ | async) === true">(E) PLAY</button>
                    </div>

                    <div *ngIf="(isFinalWinner$ | async) === true"
                         class="play">
                        <button mat-flat-button
                                color="primary"
                                class="play-button "
                                (click)="onPlayAgain()">AGAIN</button>
                    </div>
                </div>

                <app-game-card *ngIf="selectedOption === 'people'"
                               [person]="(computer$ | async)"
                               [isLoading]="(isCardsReloading$ | async) ?? true"
                               [battleResult]="(computerResult$ | async)"
                               [imagePath]="computerImage"></app-game-card>

                <app-starship-card *ngIf="selectedOption === 'starships'"
                                   [starship]="(computerStarship$ | async)"
                                   [isLoading]="(isCardsReloading$ | async) ?? true"
                                   [battleResult]="(computerResult$ | async)"
                                   [imagePath]="computerImage"></app-starship-card>
            </div>
        </ng-container>
    </ng-container>
</div>