@import 'colors';
@import 'grid';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    &.typography-custom {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        line-height: 1;
        font-weight: 400;
        color: $text-color;
    }

    .container {
        max-width: 120rem;
        padding: 0 3.2rem;
        margin: 0 auto;
    }

    .center {
        margin: 0 auto;
    }

    .center-text {
        text-align: center;
    }

    .btn {
        display: inline-block;
    }
}

.mat-mdc-snack-bar-container {
    &.warning {
        --mdc-snackbar-container-color: #f44336;
        --mat-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

mat-progress-bar {
    &.hero {
        .mdc-linear-progress__bar-inner {
            border-color: $hero-dark-color;
        }
    }

    &.villain {
        .mdc-linear-progress__bar-inner {
            border-color: $villain-dark-color;
        }
    }
}

@media (max-width: 45em) {
    body .container {
        padding: 0 1.2rem;
    }
}